[user]
  name = Kolesnikov Danil
  email = kolesnikovde@gmail.com

[github]
  user = kolesnikovde

[core]
  editor = subl
  excludesfile = ~/.gitignore

[push]
  default = current

[advice]
  statusHints = false

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  a = add -A
  hist = log --pretty=format:\"%h%C(reset)%x09%C(cyan)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)\" --graph --abbrev-commit
  discard = checkout -- .
  undo = reset --soft HEAD^

[color]
  ui = auto
